* {
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}
/******** Start Nav 1 ********/
.nav_1 {
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: rgba(5, 67, 78, 0.801);
}

.ul_nav_1 {
    display: flex;
    margin: 15px;
}
.ul_nav_1 li:hover{
    color: #29ABE2;
}
li { 
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 16px;
    color: white;
}
.a-social{
    padding: 5px;
    color: white;
}
.a-social:hover{
    color: #29ABE2;
}


@media (max-width: 825px) {
    .nav_1 {
        height: 100px;
        justify-content: space-around;
        align-items: center;
    }
    .ul_nav_1 {
        display: inline;
        /* font-size: 10px; */
        margin: 5px;
        
    }
    li {
        padding: 3px;
    }
}
@media (max-width: 780px){
    .nav_1{
        width: 800px;
    }
    .sosial_nav{
        margin-left: 100px;
    }

}
/******** End Nav 1 ********/

/******** Start Nav 2 ********/
.nav_2{
    display: flex;
    justify-content: space-around;
    background-color: rgba(228, 220, 220, 0.781); 
    width: 100%;
}
.div_nav_2 {
    display: flex;
    margin:  10px;
    align-items: center;
}
.div_nav2_r {
    display: flex;
    align-items: center;
    /* margin-left: 200px; */
}
.nav_logo {
    width: 120px;
    margin-left: 200px;
}
.ul_nav_2 li{
    display: inline;
    text-decoration: none;
    padding: 20px;
    color: #22626e;
    font-weight: bold;
}
.ul_nav_2 li:hover{
    color: #29ABE2;
}
.btn_nav_2{
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-right: 30px;
    color: white;
    background-color: #22636ed8;
}
.btn_nav_2:hover{
    cursor:pointer;
    color: #29ABE2;
    background-color: white;
}
.div_nav2_btn {
    display: flex;
    margin-right: 200px;
}
@media (max-width: 1257px)  {
    .nav_2 {
        display: inline-block;
    }
    .ul_nav_2 li{
        display:block;
        padding: 4px;
    }
}
@media (max-width: 783px){
    
    .nav_2 {
        display: contents;
        margin: 0;
        padding: 0;
    }
    .div_nav2_btn{    
        margin-left: 50px;
    }
}
/******** End Nav 2 ********/

/******** Start Footer ********/
.footer_div{
    display: inline-block;
    justify-content: center;
    width: 100%;
    /* align-items: center; */
    /* height: 100px; */
    margin-top: 200px;
    background-color: rgba(5, 67, 78, 0.801);
}
.footer_logo_ul{
    display: inline-block;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.footer_logo{
    width: 170px;
}
.footer_container{
    display: grid;
    justify-content: space-around;
    margin: 50px 100px;
    color: white;
    grid-template-columns: 30% 25% 25% 30%;
    column-gap: 10px;
}
.grid_div {
    text-align: center;
}
.grid_div a{
    padding: 10px;
}

footer hr{
    width: 50%;
}
@media (max-width: 780px){
    footer{
        display: inline-block;
        justify-content: flex-start;
        /* width: max-content; */
    }
}
/******** End Footer ********/


























